%h2 MBS Model Home

%p
	%a{:href => "/mbs/one"} Generate One Simulation

%p
	%a{:href => "/mbs/many"} Generate Many simulations


%p
	%a{:href => "/mbs/animation/index.html"} view current animation &raquo;
