%label= input.label
- if input.type == "text"
	%input{:name => input.name, :value => input.value, :type => "text"}
- else input.type == "checkbox"
	%input{:name => input.name, :checked => input.value, :type => "checkbox"}
