%html
	%head
		%title MBS Model
		%link{:rel => 'stylesheet', :href => '/mbs/styles.css', :type =>'text/css'}
		%script{:src => "/mbs/jquery.js", :type => "text/javascript"}
		%script{:src => "/mbs/script.js", :type => "text/javascript"}
	%body{:id => @view}
		#content
			= yield
