body {
	font-family: sans-serif;
}

#content {
	width: 750px;
	margin: auto;
}

label {
	width: 300px;
	float: left;
}

div#forminput {
	margin-bottom: 20px;
}

div.input {
	padding: 10px 5px;
}

div.inputgroup {
	margin-bottom: 50px;
}

input.integer {
	border: 1px solid gray;
}

.generate {
	height: 20px;
	width: 100%;
	border: 1px solid gray;
	padding: 1px;
	margin: 10px 0;
}

.progress {
	height: 20px;
	width: 0px;
	background: red;
}

a.view {
	display: none;
}

h2.textprogress {
	width: 100%;
	text-align: center;
}
